body {
    background-color: white;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Asegura que el contenedor .login ocupe toda la altura de la ventana */
}

.title {
    margin-top: 20px;
    /* Ajusta según sea necesario */
    text-align: center;
}

.iconoRed {
    max-width: 200px;
    /* Ajusta según el tamaño que desees para el logo */
    height: auto;
}

.loginArea {
    border-radius: 10px;
    border: 1px solid lightgray;
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    /* Espacio entre el título y el formulario */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    padding: 20px;
    /* Agrega un poco de espacio alrededor del formulario */
}

.loginArea input {
    margin-top: 10px;
    background-color: gainsboro;
    padding: 2vh;
    width: 400px;
    border-radius: 10px;
    border: none;
    display: block;
}

.loginArea button {
    background: linear-gradient(to right, rgba(0, 255, 0, 0.6), rgba(0, 255, 0, 0.8));
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background-size: 200% 100%;
    /* Ajustar el tamaño del gradiente horizontalmente */
    background-position: -100% 0;
    /* Iniciar posición del gradiente hacia la izquierda */
}

.loginArea button:hover {
    box-shadow: 0 0 20px rgba(35, 248, 141, 0.9);
    /* Brillo más intenso en hover */
    transform: scale(1.05);
    /* Escalar el botón ligeramente hacia afuera */
    animation: gradientMovement 2s linear infinite;
    /* Animación de movimiento suave */
}

@keyframes gradientMovement {
    0% {
        background-position: -100% 0;
        /* Iniciar posición del gradiente hacia la izquierda */
    }

    100% {
        background-position: 200% 0;
        /* Mover el gradiente hacia la derecha */
    }
}

/* Resto del código para el brillo */
@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(35, 248, 141, 0.7);
    }

    100% {
        box-shadow: 0 0 20px rgba(35, 248, 141, 0.9);
    }
}